nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6c459b;
    height: 70px;
    width: 100%;
    line-height: 70px;
    border: 1px  solid rgb(4, 4, 4);
    color: white;
    padding: 1em;
    /* float: right; */
    /* margin-left: 1em; */
  }
  
  ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
  }
  
  li.active {
    background-color: #555;
  }
  