.post1 {
  padding: 10px;
  margin-bottom: 10px;
  color: white;
}

.date {
  font-size: smaller;
}

button{
  margin-right: 10px;
  color: rgb(4, 0, 10);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.active-like {
  background-color: rgb(2, 213, 93);
}
.active-dislike {
  background-color: rgb(181, 0, 0);
}

.border1 {
  border-bottom: white;
  border-style: solid;
  max-width: 200%;
  margin-top: 20px;
}

.white-line {
  width: 100%;
  border-bottom: 2px solid white; 
  margin-top: 10px; 
}